@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #D6E1F0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: #FFFFFF;
  max-width: 20em;
  border-radius: 20px;

}

.img-container {
  margin: 1em auto;
  width: 90%;
}

img {
width: 100%;
border-radius: 10px;
}

.content-container {
  padding: 0.25em 1em 2.5em 1em;
}

.content-container h1 {
  text-align: center;
  font-size: 1.375rem;
  color: #1F314F;
  margin-bottom: 0.7275em;
}

.content-container p {
  color: #7D889E;
  text-align: center;
  font-size: 0.938rem;
  padding: 0 1em;
}




